<main class="page_hero">
  <div class="container-hero">
    <div class="empty-container">
    </div>
    <div class="content-container">
      <h1 class="hero-title">anonimous<br> proxy</h1>
      <p class="hero-text">In hac habitasse platea dictumst.</p>
      <a href="#" class="scroll-down-link">
        <div class="scroll-down-icon-container">
          <img src="./assets/images/ico-scroll-down.svg" alt="Scroll-down-button" title="Scroll down"
            class="scroll-down-icon">
        </div>
      </a>
    </div>
  </div>
</main>