<section class="page_section2">
    <div class="container-section2">
        <div class="section2-title-box">
            <h2 class="section2-title">3 reasons to purchase</h2>
        </div>
        <article class="article1-box">
            <p class="article1-title">Ut sed metus</p>
            <p class="article1-text">Lorem ipsum dolor sit amet, consecteur.</p>
        </article>
        <article class="article2-box">
            <p class="article2-title">Curabitur ac erat</p>
            <p class="article2-text">Mauris mattis urna quis lorem molestie.</p>
        </article>
        <article class="article3-box">
            <p class="article3-title">Morbi dictum</p>
            <p class="article3-text">Aliquam in dolor et dolor tincidunt.</p>
        </article>

        <button type="button" class="section2-button" name="More Reasons-button">More reasons</button>
    </div>
</section>