.container-hero {
  background: url("../images/cover.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  @media all and (min-width: 768px) {
    background: url("../images/cover.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 0;
  }
  @media all and (min-width: 1200px) {
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: center;
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .hero-title {
    margin-top: 30px;
    color: $font-colorOne;
    font-family: $font-primary;
    font-size: $size-title;
    line-height: $size-titleLineheight;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    align-content: center;
    margin-bottom: 0;
    @media all and (min-width: 768px) {
      font-size: $size-largeTitle;
      line-height: $size-largeTitlelineHeight;
      margin-bottom: 30px;
    }
    @media all and (min-width: 1200px) {
      font-size: $size-extraLargetitle;
      line-height: $size-extraLargetitleLineheight;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .hero-text {
    font-family: $font-secondary;
    font-size: $size-subtitle;
    color: $font-colorOne;
    padding-bottom: 40px;
    text-align: center;
    @media all and (min-width: 768px) {
      font-size: $size-secondaryTitle;
      padding-bottom: 20px;
    }
    @media all and (min-width: 1200px) {
      margin-top: 0;
      padding-bottom: 20px;
      margin-bottom: 0;
    }
  }
  .scroll-down-link {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    align-self: center;
    @media all and (min-width: 768px) {
      margin-bottom: 45px;
    }
    @media all and (min-width: 1200px) {
      padding-bottom: 0;
      margin-bottom: 5px;
    }
    .scroll-down-icon-container {
      @include icon-container;
      background-color: $background-colorOne;
      border-radius: 100%;
    }
  }
}
