.container-section1 {
  margin-right: 15px;
  margin-left: 15px;

  .mini-title {
    font-family: $font-secondary;
    color: #8ccbea;
    font-size: $size-miniTitle;
    margin-top: 30px;
    margin-bottom: 5px;
    line-height: $size-paragraphLineheight;
  }

  .section1-title {
    font-family: $font-primary;
    font-size: $size-secondaryTitle;
    color: $font-colorTwo;
    line-height: $size-paragraphLineheight;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 0;
  }
  .text-section1 {
    text-align: justify;
    font-family: $font-secondary;
    font-size: $size-paragraph;
    color: $paragraph-color;
    line-height: $size-paragraphLineheight;
  }
  .section1-button {
    background-color: $background-colorOne;
    width: 76px;
    height: 45px;
    text-align: center;
    border-radius: 22.5px;
    border: 2px solid $button-color;
    display: inline-block;
    color: $button-color;
    font-size: 20px;
    font-family: $font-secondary;
    margin-bottom: 45px;
    transition-duration: 0.5s;
    &:hover {
      background-color: #8ccbea;
      color: $background-colorOne;
      border-color: $background-colorOne;
    }
  }
}
