.container-section2 {
  height: 624px;
  background-color: #eff9ff;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  @media (min-width: 768px) {
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .section2-title-box {
    grid-column: 1/4;
    grid-row: 1/2;
    margin-bottom: 20px;
    margin-top: 30px;
    @media (min-width: 768px) {
      grid-column: 5/11;
      grid-row: 1/2;
    }
    .section2-title {
      text-align: center;
      text-transform: capitalize;
      font-family: $font-primary;
      font-weight: bold;
      color: $font-colorTwo;
      font-size: $size-secondaryTitle;
      line-height: $size-paragraphLineheight;
      @media (min-width: 768px) {
        font-size: $size-secondaryTitletablet;
        line-height: 45px;
      }
    }
  }
}
.article1-box {
  grid-column: 2/3;
  grid-row: 2/4;
  @media (min-width: 768px) {
    grid-column: 2/5;
    grid-row: 2/3;
  }
  .article1-title {
    text-align: center;
    font-family: $font-primary;
    font-weight: bold;
    font-size: $size-paragraph;
    color: $font-colorTwo;
    line-height: $size-paragraphLineheight;
    margin: 0;
    @media (min-width: 768px) {
      font-size: $size-secondaryTitle;
      margin-bottom: 14px;
    }
  }
  .article1-text {
    margin: 0;
    text-align: center;
    font-family: $font-secondary;
    font-size: $size-paragraph;
    color: $font-colorTwo;
    line-height: $size-paragraphLineheight;
    @media (min-width: 768px) {
      font-size: $size-paragraphTablet;
    }
  }
}
.article2-box {
  grid-column: 2/3;
  grid-row: 4/6;

  @media (min-width: 768px) {
    grid-column: 6/10;
    grid-row: 2/3;
  }
  .article2-title {
    margin: 0;
    text-align: center;
    font-family: $font-primary;
    font-weight: bold;
    font-size: $size-paragraph;
    color: $font-colorTwo;
    line-height: $size-paragraphLineheight;
    @media (min-width: 768px) {
      font-size: $size-secondaryTitle;
      margin-bottom: 14px;
    }
  }
  .article2-text {
    margin: 0;
    text-align: center;
    font-family: $font-secondary;
    font-size: $size-paragraph;
    color: $font-colorTwo;
    line-height: $size-paragraphLineheight;
    @media (min-width: 768px) {
      font-size: $size-paragraphTablet;
    }
  }
}
.article3-box {
  grid-column: 2/3;
  grid-row: 6/8;
  @media (min-width: 768px) {
    grid-column: 11/14;
    grid-row: 2/3;
  }
  .article3-title {
    margin: 0;
    text-align: center;
    font-family: $font-primary;
    font-weight: bold;
    font-size: $size-paragraph;
    color: $font-colorTwo;
    line-height: $size-paragraphLineheight;
    @media (min-width: 768px) {
      font-size: $size-secondaryTitle;
      margin-bottom: 14px;
    }
  }
  .article3-text {
    margin: 0;
    text-align: center;
    font-family: $font-secondary;
    font-size: $size-paragraph;
    color: $font-colorTwo;
    line-height: $size-paragraphLineheight;
    @media (min-width: 768px) {
      font-size: $size-paragraphTablet;
    }
  }
}
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 2/3;
  grid-row: 8/9;
  align-items: center;
  @media (min-width: 768px) {
    grid-column: 7/9;
    grid-row: 3/4;
  }
}
  .section2-button {
    margin-bottom: 60px;
    background-color: $button-color;
    color: $font-colorOne;
    font-family: $font-secondary;
    width: 184px;
    height: 45px;
    text-align: center;
    border-radius: 22.5px;
    border: 2px solid $background-colorOne;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.5s;
    @media (min-width: 768px) {
      width: 210px;
      margin-top: 10px;
    }
  &:hover {
    background-color: #304268;
    color: $background-colorOne;
    border-color: $background-colorOne;
  }
  }

