$font-primary: 'Roboto Slab';
$font-secondary: 'Roboto-Regular';

$font-colorOne: white;
$font-colorTwo: black;
$paragraph-color: #4a4a4a;
$button-color: #f26002;

$size-title: 42px;
$size-largeTitle: 80px;
$size-extraLargetitle: 100px;
$size-secondaryTitle: 24px;
$size-secondaryTitletablet: 26px;
$size-subtitle: 16px;
$size-paragraph: 18px;
$size-paragraphTablet: 20px;
$size-miniTitle: 14px;
$size-titleLineheight: 55px;
$size-largeTitlelineHeight: 106px;
$size-extraLargetitleLineheight: 132px;
$size-paragraphLineheight: 30px;

$background-colorOne: white;
$background-colorTwo: #eff9ff;
$background-colorThree: #304268;
